<!-- page title -->
<section class="page-title-section overlay">
  <div class="container">
    <div class="row align-items-center">
      <!-- Left Column - Breadcrumbs and Description -->
      <div class="col-lg-8 col-md-7">
        <!-- Breadcrumbs with Schema Markup -->
        <ul class="list-inline custom-breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
          {{- $data := newScratch }}
          <!-- Home Link -->
          <li class="list-inline-item h2" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            {{- $data.Set "counter" 0 }}
            {{- $data.Add "counter" 1 }}
            <a class="text-primary font-secondary" itemprop="item" href="{{ site.BaseURL | relLangURL }}">
              <span itemprop="name">Home</span>
            </a>
            <meta itemprop="position" content='{{ $data.Get "counter" }}' />
          </li>

          <!-- Ancestor Links -->
          {{- range $index, $value := .Ancestors.Reverse }}
          {{- if not .IsHome }} {{/* <<< MORE EXPLICIT CHECK */}}
          <li class="list-inline-item h5"><i class="fa-solid fa-angle-right text-white"></i></li>
          <li class="list-inline-item h3" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            {{- $data.Add "counter" 1 }}
            <a class="text-primary" itemprop="item" href="{{ .Permalink }}">
              <span itemprop="name">{{ .Title }}</span>
            </a>
            <meta itemprop="position" content='{{ $data.Get "counter" }}' />
          </li>
          {{- end }}
          {{- end }}

          <!-- Current Page Link -->
          <li class="list-inline-item h5"><i class="fa-solid fa-angle-right text-white"></i></li>
          <li class="list-inline-item text-white h3 font-secondary" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            {{- $data.Add "counter" 1 }}
            <span itemprop="name">{{ .Title }}</span>
            <meta itemprop="position" content='{{ $data.Get "counter" }}' />
          </li>
        </ul>

        <!-- Page Description -->
        <p class="text-lighten">{{ .Params.Description | markdownify }}</p>
      </div>

      <!-- Right Column - OG Image Preview Partial -->
      <div class="col-lg-4 col-md-5 mt-md-0 mt-4">
        {{ partial "og-preview.html" . }}  {{/* <<< MODIFIED HERE */}}
      </div>

    </div>
  </div>
</section>
