.list-styled {
  padding-left: 25px;

  li {
    position: relative;
    margin-bottom: 15px;

    &::before {
      position: absolute;
      content: '';
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: $primary-color;
      left: -25px;
      top: 5px;
    }
  }
}

.icon-list-item {
  position: relative;
  padding-left: 2em; // Adjust as needed for icon size + desired gap

  > i {
    position: absolute;
    left: 0;
    top: 0.35em; // Adjust for vertical alignment with text (depends on line-height)
    width: 1.5em; // Ensure icon has a defined width for positioning
    text-align: center; // Center icon if its actual width is less than 1.5em
  }
}