{{/* layouts/partials/page-header.html */}}
<section class="page-title-section overlay">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-dark font-secondary mb-3 h2 page-header-title">{{ .Title }}</h1>
        <p class="page-header-description">{{ .Params.Description | markdownify }}</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 d-flex justify-content-center">
        {{ partial "og-preview.html" . }}
      </div>
    </div>
  </div>
</section>
