{{/* layouts/partials/components/team-card.html */}}
<div class="team-card card border-0 solid-shadow-lb mb-4">
  <div class="card-body p-4">
    <div class="row align-items-center">
      {{/* Image Column */}}
      <div class="col-md-3 text-center text-md-left mb-4 mb-md-0">
        {{/* ... image logic ... */}}
      </div>

      {{/* Content Column */}}
      <div class="col-md-9 team-card-content">
        {{/* ... name, title, description ... */}}
        {{ if .social }}
        <ul class="list-inline team-card-socials mb-0">
          {{ range .social }}
          <li class="list-inline-item mr-3">
            <a href="{{ .link | safeURL }}" target="_blank" rel="noopener noreferrer" class="text-color" title="{{ .title }}">
              {{ if eq .icon "ti-twitter" }}
              <i class="fa-brands fa-x-twitter"></i>
              {{ else }}
              <i class="{{ .icon }}"></i>
              {{ end }}
              <span class="sr-only">{{ .title }}</span>
            </a>
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
</div>
